body{
    /*background-color: LightYellow;*/
	/*color:darkgreen;*/
      background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}
table,tr,td,thead,th{
    border:2px solid white;
    font-size: 30px;
    color:white;
    background:gray;
    margin:auto;
}
thead, th{
    border:2px solid red;
    font-size: 30px;
    color:blue;
    margin:auto;
    background:cornsilk;
}
h1{
    text-align: center;
}
