<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Add Movies</title>
        <link rel="stylesheet" href="{%static "css/movies.css"%}">
    </head>
    <body>
        <div align='center'>
            <h1>Add Movie Information</h1>
            <hr />
			<a href="/" >Home-Page</a>
            <form method="post">
                {{form1.as_p}}
                {%csrf_token%}
                <input type="submit" value="Add-Movie">
            </form>
        </div>
    </body>
</html>