<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Movies-List</title>
        <link rel="stylesheet" href="{% static "css/movies.css"%}">
    </head>
    <body>
        <h1>Movies-List Details..!!</h1>
        <hr />
        {%if movies_list%}
            <table>
                <thead>
                    <th>Release-Date</th>
                    <th>Movie-Name</th>
                    <th>Actor</th>
                    <th>Actress</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                {%for movie in movies_list%}
                    <tr>
                        <td>{{movie.releasedate}}</td>
                        <td>{{movie.moviename}}</td>
                        <td>{{movie.actor}}</td>
                        <td>{{movie.actress}}</td>
                        <td>{{movie.rating}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
			<a href="/" >Home-Page</a>
        {%else%}
            <p>OOPs...No Movies Found!!</p>
        {%endif%}
</body>
</html>
